.settings__setting {
  padding: 20px 0;
  border-bottom: #ccc;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.settings__setting i {
  color:#666;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  color:#ccc;
}
